[submodule "unikraft_setup/unikraft"]
	path = unikraft_setup/unikraft
	url = git@github.com:OMA-NVM/TU-Do_unikraft.git
[submodule "unikraft_setup/apps"]
	path = unikraft_setup/apps
	url = git@github.com:OMA-NVM/TU-Do_Benchmark-Apps.git
[submodule "simulator/gem5"]
	path = simulator/gem5
	url = https://github.com/OMA-NVM/nv-gem5.git
[submodule "simulator/nvmain"]
	path = simulator/nvmain
	url = https://github.com/OMA-NVM/nv-NVmain.git
